/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Dosis', sans-serif;
  background-color: #F7FCFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 6rem;
  color: #1A1A4C;
}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-size: 3.6rem;
}

h4 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.shadow {
  box-shadow: 0 10px 13px -2px #CCC;
  -webkit-box-shadow: 0 10px 13px -2px #CCC;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .main {
    flex-direction: row;
  }
}

/* Sidebar */
.sidebar {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 5rem;
  -webkit-box-shadow: 1px 0px 15px 5px #CCC; 
  box-shadow: 1px 0px 15px 5px #CCC;
  background-color: #FFF;
  z-index: 10;
}

@media (min-width: 992px) {
  .sidebar {
    width: 10%;
    height: 100vh;
    flex-direction: column;
    padding: 3rem 0 5rem 0;
  }
}

.sidebar .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .sidebar .social-media {
    flex-direction: column;
  }
}

.sidebar .social-media .logo {
  margin: 0 1rem;
  cursor: pointer;
}

@media (min-width: 992px) {
  .sidebar .social-media .logo {
    margin: 1rem 0;
  }
}

/* Container */
.container {
  width: 100%;
}

/* Header */
.header {
  height: 40vh;
  background-color: #FFF;
}

/* Nav */
.nav {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

@media (min-width: 768px) {
  .nav {
    justify-content: flex-end;
  }
}

.nav a {
  font-size: 2rem;
  margin: 0 5rem 0 0;
  color: #000;
  font-weight: 600;
}

.nav a:last-of-type {
  margin: 0;
}

/* Subheader */
.sub-header {
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
}

@media (min-width: 768px) {
  .sub-header {
    height: 100%;
    flex-direction: row;
  }
}

.sub-header .image {
  width: 30rem;
  height: 30rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
  background-color: #E92042;
}

@media (min-width: 768px) {
  .sub-header .image {
    top: 10rem;
  }
}

/* Skills */
.skills {
  width: 80%;
  margin: 0 auto;
  margin-top: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

@media (min-width: 768px) {
  .skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
  }
}

.card-skill {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #FFF;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .card-skill {
    width: 35rem;
  }
}

.card-skill.two {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 0;
}

@media (min-width: 768px) {
  .card-skill.two {
    margin-left: -15rem;
  }
}

.three {
  text-align: center;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

/* .three img {
  width: 20rem;
  height: 20rem;
} */

.card-skill img {
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
}

.info-skill p {
  font-size: 1.2rem;
}

/* About */
.about {
  width: 80%;
  margin: 0 auto;
}

.about h2 {
  text-align: center;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .about h2 {
    text-align: left;
    margin-top: 1rem;
  }
}

.card-about {
  width: 100%;
  margin: 1.5rem 0 3rem 0;
  padding: 2rem;
  background-color: #FFF;
}

@media (min-width: 768px) {
  .card-about {
    width: 60%;
  }
}

.card-about p {
  margin: 0;
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: 2;
}

/* Projects */
.projects {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
}

.projects h2 {
  text-align: center;
}

.projects-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0;
}

@media (min-width: 576px) {
  .projects-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
  }
}

.projects-images .image {
  border-radius: 5px;
}

.projects-images img {
  height: 25rem;
  width: 100%;
  border-radius: .5rem;
}