html[data-theme="dark"] {
  --toogle-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --toogle-state-color: hsl(230, 22%, 74%);
  --bg-color: hsl(230, 17%, 14%);
  --topbg-color: hsl(232, 19%, 15%);
  --bgcard-color: hsl(228, 28%, 20%);
  --bgcard-state-color: hsl(228, 26%, 27%);
  --text1-color: hsl(0, 0%, 100%);
  --text2-color: hsl(228, 34%, 66%);
  --red: #971233;
  --green: #3F8F86;
  --text3-color: #FFF;
}

html[data-theme="light"] {
  --toogle-color: hsl(230, 22%, 74%);
  --toogle-state-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --bg-color: hsl(0, 0%, 100%);
  --topbg-color: hsl(225, 100%, 98%);
  --bgcard-color: hsl(227, 47%, 96%);
  --bgcard-state-color: hsl(232, 33%, 91%);
  --text1-color: hsl(230, 17%, 14%);
  --text2-color: hsl(228, 12%, 44%);
  --red: #971233;
  --green: #3F8F86;
  --text3-color: #000;
}

html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--bg-color);
  color: #FFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 4rem 0;
  }
}

.header-title {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--text2-color);
}

@media (min-width: 768px) {
  .header-title {
    padding-bottom: 0;
    border: none;
  }
}

.header .theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 4rem 0;
}

@media (min-width: 768px) {
  .header .theme {
    padding: 0;
  }
}

.header-title h1 {
  color: var(--text1-color);
  margin-bottom: .5rem;
  font-size: 2.5rem;
}

.header-title span,
.theme span {
  color: var(--text2-color);
  font-size: 1.4rem;
}

/* Social Resume */
.social-resume {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

@media (min-width: 576px) {
  .social-resume {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .social-resume {
    grid-template-columns: repeat(4, 1fr);
  }
} 

/* Social Card */
.social-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: var(--bgcard-color);
  min-height: 25rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .social-card {
    margin: 0;
  }
}

.social-card::before {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.social-card:nth-child(1)::before {
  background-color: #198FF5;
}

.social-card:nth-child(2)::before {
  background-color: #1CA0F2;
}

.social-card:nth-child(3)::before {
  background-image: linear-gradient(to right, #FDC468, #DF4996);
}

.social-card:nth-child(4)::before {
  background-color: #C4032A;
}

.social-card span {
  color: var(--text2-color);
}

.social-card .icon {
  display: flex;
  align-items: center;
}

.social-card .icon img {
  margin-right: 1rem;
}

.social-card .icon span {
  font-size: 1.2rem;
}

.social-card .numbers {
  text-align: center;
}

.social-card .numbers p {
  margin: 0;
  font-size: 6rem;
  font-weight: bold;
  color: var(--text3-color);
}

.social-card .numbers span {
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.social-card .today {
  display: flex;
  align-items: center;
}

.social-card .today img {
  margin-right: .5rem;
}

.social-card .today span {
  font-size: 1.2rem;
  color: var(--green);
  font-weight: bold;
}

.social-card:last-child .today span {
  color: var(--red);
}

/* Overview Today & Content */
.overview-today {
  margin-bottom: 4rem;
}

.overview-today h2 {
  color: var(--text1-color);
  font-size: 2rem;
}

.overview-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .overview-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .overview-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Today Card */
.today-card {
  display: flex;
  justify-content: space-between;
  height: 12.5rem;
  background-color: var(--bgcard-color);
  border-radius: .5rem;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .today-card {
    margin: 0;
  }
}

.today-card .today-stats,
.today-card .today-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.today-card .today-stats {
  align-items: flex-start;
}

.today-card .today-icon {
  align-items: flex-end;
}

.today-card .today-stats span {
  color: var(--text2-color);
  font-size: 1.4rem;
}

.today-card .today-stats p {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  color: var(--text3-color);
}

.today-icon .icon {
  width: 2rem;
}

.today-icon .percent {
  display: flex;
  align-items: center;
}

.today-icon .percent img {
  margin-right: .5rem;
}

.today-icon .percent span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* -------------------------------------- SWITCH ---------------------------------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  margin-left: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--toogle-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 3px;
  left: 2px;
  background-color: var(--bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}