html {
	box-sizing: border-box;
	font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
}

/* Globales */
.contenedor {
	width: 95%;
	max-width: 120rem; /* 1200px */
	margin: 0 auto;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.6rem;
}

/* Utilidades */
.seccion {
	margin: 2rem 0;
}

.fw-300 {
	font-weight: 300;
}

.centrar-texto {
	text-align: center;
}

.d-block {
	display: block !important;
}

.contenido-centrado {
	max-width: 80rem;
	text-align: justify;
}

/* Botones */
.boton {
	display: inline-block;
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-top: 3rem;
	text-transform: uppercase;
	text-align: center;
	border: none;
	display: block;
	flex: 0 0 100%;
}

@media (min-width: 768px){
	.boton {
		display: inline-block;
		flex: 0 0 auto;
	}
}

.boton:hover {
	cursor: pointer;
}

.boton-amarillo {
	background-color: #E08709;
}

.boton-verde {
	background-color: #71B100;
}

/* Header */
.site-header {
	background-color: #333;
	padding: 1rem 0 3rem 0;
}

.site-header.inicio {
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.contenido-header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

@media (min-width: 768px){
	.contenido-header {
		text-align: left;
	}
}

.contenido-header h1 {
	color: white;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 2;
}

.barra {
	padding-top: 3rem;
}

@media (min-width: 768px){
	.barra {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/* Navegación */
.navegacion a {
	color: white;
	text-decoration: none;
	font-size: 2.2rem;
	display: block;
}

@media (min-width: 768px){
	.navegacion a {
		display: inline-block;
		font-size: 1.8rem;
		margin-right: 2rem;
	}

	.navegacion a:last-of-type {
		margin-right: 0;
	}
}

.navegacion a:hover {
	color: #71B100;
}

/* Mobile menú */
.mobile-menu img {
	width: 5rem;
}

@media (min-width: 768px){
	.mobile-menu {
		display: none;
	}
}

.navegacion:target {
	display: block;
}

.navegacion {
	display: none;
}

@media (min-width: 768px){
	.navegacion {
		display: block;
	}
}

/* Iconos nosotros */
@media (min-width: 768px){
	.iconos-nosotros {
		display: flex;
		justify-content: space-between;
	}
}

.icono {
	text-align: center;
}

@media (min-width: 768px){
	.icono {
		flex-basis: calc(33.3% - 1rem);
	}
}

.icono h3 {
	text-transform: uppercase;
}

/* Anuncios */
@media (min-width: 768px){
	.contenedor-anuncios {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.anuncio {
	border: 1px solid #B5B5B5;
	background-color: #F5F5F5;
	margin-bottom: 2rem;
}

@media (min-width: 768px){
	.anuncio {
		flex: 0 0 calc(33.3% - 1rem);
	}
}

.contenido-anuncio {
	padding: 2rem;
}

.contenido-anuncio h3, 
.contenido-anuncio p {
	margin: 0;
}

.precio {
	color: #71B100;
	font-weight: 700;
}

.iconos-caracteristicas {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	max-width: 500px;
}

.iconos-caracteristicas li {
	display: flex;
}

.iconos-caracteristicas li img {
	margin-right: 2rem;
}

.ver-todas {
	display: flex;
	justify-content: flex-end;
}

/* Contacto home */
.imagen-contacto {
	background-image: url(../img/encuentra.jpg);
	background-position: center center;
	background-size: cover;
	height: 40rem;
	display: flex;
	align-items: center;
}

.contenido-contacto {
	flex: 0 0 95%;
	color: white;
}

.contenido-contacto p {
	font-size: 1.8rem;
}

/* Sección inferior */
.seccion-inferior {
	margin-bottom: 3rem;
}

@media (min-width: 768px){
	.seccion-inferior {
		display: flex;
		justify-content: space-between;
	}

	.seccion-inferior .blog {
		flex-basis: 60%;
	}

	.seccion-inferior .testimoniales {
		flex-basis: calc(40% - 2rem);
	}
}

.entrada-blog {
	margin-bottom: 2rem;
}

@media (min-width: 768px){
	.entrada-blog {
		display: flex;
		justify-content: space-between;
	}
}

.entrada-blog:last-of-type {
	margin-bottom: 0;
}

@media (min-width: 768px){
	.entrada-blog .imagen {
		flex-basis: 40%;
	}

	.entrada-blog .texto-entrada {
		flex-basis: calc(60% - 3rem);
	}
}

.texto-entrada a {
	color: black;
	text-decoration: none;
}

.texto-entrada h4 {
	margin: 0;
	line-height: 1.4;
}

.texto-entrada h4::after {
	content: '';
	display: block;
	width: 15rem;
	height: .5rem;
	background-color: #71B100;
	margin-top: 1rem;
}

.texto-entrada span {
	color: #E08709;
}

/* Testimoniales */
.testimonial {
	background-color: #71B100;
	font-size: 2.4rem;
	padding: 2rem;
	color: white;
	border-radius: 2rem;
}

.testimonial p {
	text-align: right;
}

.testimonial blockquote::before {
	content: '';
	background-image: url(../img/comilla.svg);
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0;
	left: -2rem;
}

.testimonial blockquote {
	position: relative;
	padding-left: 5rem;
	font-weight: 300;
}

/* Footer */
.site-footer {
	background-color: #333;
	margin: 0;
}

.contenedor-footer {
	padding: 3rem 0;
	text-align: center;
}

@media (min-width: 768px){
	.contenedor-footer {
		display: flex;
		justify-content: space-between;
	}
}

.site-footer nav {
	display: none;
}

@media (min-width: 768px){
	.site-footer nav {
		display: block;
	}
}

.copyright {
	margin: 0;
	color: white;
}

/** INTERNAS **/
/* Nosotros */
@media (min-width: 768px){
	.contenido-nosotros {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
	}
}

.texto-nosotros blockquote {
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
	padding-top: 1rem;
}

/* Anuncio */
.resumen-propiedad {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Contacto */
.contacto p {
	font-size: 1.4rem;
	color: #4f4f4f;
	margin: 2rem 0 0 0;
}

legend {
	font-size: 2.2rem;
	color: #333;
}

label {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select {
	padding: 1rem;
	display: block;
	width: 100%;
	background-color: #E1E1E1;
	margin-bottom: 2rem;
	border: none;
	border-radius: 1rem;
}

input[type="radio"] {
	width: auto;
	margin: 0;
}

select {
	-webkit-appearance: none;
	appearance: none;
}

textarea {
	height: 20rem;
}

.forma-contacto {
	max-width: 20rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.enviar {
	display: flex;
}